.App {
  text-align: center;
}

.background-image {
  background-image: url("monstera-language-academy-login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#search-container {
  display: flex;
  justify-content: space-around;
}

#learn-container {
  display: flex;
  justify-content: space-around;
}

#table {
  width: 800px;
}

#card-container {
  width: 450px;
  height: 500px;
  border: 1px solid white;
  border-radius: 15px;
  margin: 45px auto;
  background-color: lavender;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#practice-word {
  margin-top: 200px;
}

#answer-container {
  height: 150px;
}

.favorite {
  font-weight: bold;
}


#login-container, #signup-container{
  margin: auto;
  width: 200px;
  left: 50%;
  right: 50%;
}

h1 {
  color: #ebc340;
}

form input::placeholder{
  color: #d3d1d3;
  font-weight: 100;
  letter-spacing: 4px;
}

#login-btn, #signup-btn {
  background-color: #ebc340;
  border-width: 0px;
}
